volumes:
  ffun_postgresql_data: {}
  ffun_caddy_data: {}

networks:
  ffun_network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.22.0.0/16

x-backend-api-environment: &backend-api-environment
  FFUN_ENABLE_API_SPA: "${FFUN_ENABLE_API_SPA:-True}"
  FFUN_ENABLE_SENTRY: "${FFUN_ENABLE_SENTRY:-False}"
  FFUN_SENTRY__DSN: "${FFUN_SENTRY__DSN:-not-specified}"
  # set to /repository/feeds_collections/collections in case you want to use the default collection
  FFUN_FEEDS_COLLECTIONS_COLLECTION_CONFIGS: "${FFUN_FEEDS_COLLECTIONS_COLLECTION_CONFIGS-}"
  FFUN_AUTH_SINGLE_USER_EXTERNAL_ID: "${FFUN_AUTH_SINGLE_USER_EXTERNAL_ID:-dev-user}"

x-backend-api: &backend-api
  image: ffun-backend-dev

  depends_on:
    postgresql:
      condition: service_healthy

  command:
    - /bin/bash
    - -c
    - |
      poetry run ffun migrate
      echo "migrations successed"
      poetry run uvicorn ffun.application.application:app --host 0.0.0.0 --port 8000 --workers 1 --reload

  volumes:
    - ${PWD}/ffun:/repository
    - ${PWD}/.env:/repository/.env
    - ${PWD}/.configs:/repository/.configs
    - ${PWD}/feeds_collections:/repository/feeds_collections

  environment:
    <<: *backend-api-environment

  networks:
    ffun_network:
        aliases:
          - backend

services:

  postgresql:
    image: postgres:15.2

    volumes:
      - type: tmpfs
        target: /var/lib/postgresql/data
        tmpfs:
          size: 2g
      # - ffun_postgresql_data:/var/lib/postgresql/data
      - ./docker/dev/postgresql/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
      - ./docker/dev/postgresql/healthcheck.sh:/healthcheck.sh

    environment:
      POSTGRES_MULTIPLE_DATABASES: ffun
      # set to root because of the bug in pg_isready (?) it
      # it looks like it expect the DB name be the same as the POSTGRES_USER
      POSTGRES_DB: root
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root

    ports:
      - "5432:5432"

    networks:
      ffun_network: {}

    healthcheck:
      test: "/healthcheck.sh"
      interval: 1s
      timeout: 5s
      retries: 10

  backend-build:
    image: ffun-backend-dev
    build:
      context: ./
      dockerfile: ./docker/dev/backend/Dockerfile
    command: /bin/true

    profiles:
      - dev-build

  backend:
    <<: *backend-api

  backend-utils:
    image: ffun-backend-dev

    depends_on:
      postgresql:
        condition: service_started

    volumes:
      - ${PWD}/ffun:/repository
      - ${PWD}/.env:/repository/.env
      - ${PWD}/.configs:/repository/.configs
      - ${PWD}/tags_quality_base:/repository/tags_quality_base
      - ${PWD}/feeds_collections:/repository/feeds_collections
      - ${PWD}/changes:/repository/changes
      - ${PWD}/CHANGELOG.md:/repository/CHANGELOG.md

    environment:
      FFUN_ENABLE_SENTRY: "${FFUN_ENABLE_SENTRY:-False}"
      FFUN_SENTRY__DSN: "${FFUN_SENTRY__DSN:-not-specified}"
      # set to /repository/feeds_collections/collections in case you want to use the default collection
      FFUN_FEEDS_COLLECTIONS_COLLECTION_CONFIGS: "${FFUN_FEEDS_COLLECTIONS_COLLECTION_CONFIGS-}"

    networks:
      ffun_network: {}

    profiles:
      - dev

  frontend-build:
    image: ffun-frontend-dev
    build:
      context: ./
      dockerfile: ./docker/dev/frontend/Dockerfile
    command: /bin/true

    profiles:
      - dev-build

  frontend:
    image: ffun-frontend-dev

    command: "npm run dev -- --host 0.0.0.0 --port 8000"

    volumes:
      - ${PWD}/site/src:/repository/src

    environment:
      VITE_FFUN_ENABLE_SENTRY: "${FFUN_ENABLE_SENTRY:-False}"
      VITE_FFUN_SENTRY_DSN: "${FFUN_SENTRY__DSN:-not-specified}"

      VITE_FFUN_PLAUSIBLE_ENABLED: "${FFUN_PLAUSIBLE_ENABLED:-False}"
      VITE_FFUN_PLAUSIBLE_DOMAIN: "${FFUN_PLAUSIBLE_DOMAIN:-localhost}"
      VITE_FFUN_PLAUSIBLE_SCRIPT: "${FFUN_PLAUSIBLE_SCRIPT:-not-specified}"

      VITE_FFUN_TRACK_EVENTS: "true"

      VITE_FFUN_CRM_TERMS: "${FFUN_CRM_TERMS-not-specified}"
      VITE_FFUN_CRM_PRIVACY: "${FFUN_CRM_PRIVACY-not-specified}"

      VITE_FFUN_HAS_COLLECTIONS: "true"

    networks:
      ffun_network: {}

  frontend-utils:
    image: ffun-frontend-dev

    volumes:
      - ${PWD}/site/src:/repository/src

    networks:
      ffun_network: {}

  edge-proxy:
    image: caddy:2.10-alpine

    volumes:
      - ./docker/dev/caddy:/etc/caddy:ro
      - ffun_caddy_data:/data

    ports:
      - "80:80"
      - "443:443"

    networks:
      ffun_network:
        aliases:
          - feeds.fun.local
